# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-error.log*

# Build output
dist/
**/dist/
tmp/
out-tsc/
.bazel-out/

# Angular
.angular/
**/.angular/
coverage/

# IDEs / editors
.idea/
.vscode/
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-workspace
.history/

# Misc
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
__screenshots__/

# System files
.DS_Store
Thumbs.db